.container {
  max-width: 1440px;
  position: relative;
  padding-left: 15px;
  margin: 0 auto;
}
.cards {
  display: flex;
  margin-left: ;
  padding: 0px 0px;
  overflow-x: scroll;
}

.radio {
  display: flex;
  justify-content: center;
  font-size: 5px;
}
